.top-page
  %header.top-left
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              Home
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              notification
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              message
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              bookmark
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              profile
    = link_to  new_tweet_path, class: 'tweet-btn' do
      .tweet-btn-contents
      tweet

  .top-main
    .tweet-form
    = render partial: 'shared/tweet', collection: @tweets

  .top-right
