.top-page
  %header.top-left
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              Home
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              notification
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              message
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              bookmark
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              profile
    = link_to  "", class: 'tweet-btn' do
      .tweet-btn-contents
      tweet

  .top-main
    .tweet-form
    .tweets
      .tweet
        .tweet-image
        .upper-content
          .username
          野口
          .time
          12時
        .main-content
        今日の天気は晴れですね
        .under-content
        
  .top-right
