.top-page
  %header.top-left
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              Home
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              notification
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              message
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              bookmark
    .header-nav
      %ul.header-nav-lists
        %li.header-nav-list
          = link_to  "", class: 'information-link' do
            .header-nav-list__item
              profile
    = link_to  new_tweet_path, class: 'tweet-btn' do
      .tweet-btn-contents
      tweet

  .top-main
    .tweet-form
    .tweets
      .tweet
        .upper-tweet
          .upper-tweet__tweet-image
          .upper-tweet__user-name
            野口
          .upper-tweet__date
            2019/09/05
        .main-tweet
          %p.main-tweet__body
          っっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっっ
        .lower-tweet

  .top-right
