.modal-dialog{:role => "document"}
  .modal-content
    = form_for(@tweet, remote: true) do |f|
      - if @tweet.errors.any?
        #error_explanation
          %h2
            = pluralize(@tweet.errors.count, "error")
            prohibited this user from being saved:
          %ul
            - @tweet.errors.full_messages.each do |message|
              %li= message
      .modal-header
        %h5.modal-title New Tweet
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .form-group.field
          = f.text_area :content, class: 'top-main-input-box__content', placeholder: 'type a message'
          = f.label :image, class: 'top-main-input-box__image-label' do
            = fa_icon 'picture-o', class: 'top-main-input-box__icon'
            = f.file_field :image, class: 'hidden'
      .modal-footer.actions
        = f.submit 'tweet', class: 'top-new-tweet__submit-btn'